.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}
.menu {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  visibility: hidden;
  top: 80px;
  left: 90px;
  width: 100%;
  height: 90%;
  margin: -90px;
  padding: 80px 0;
  list-style: none;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  flex-direction: column;
  justify-content: center;
}
.hamb {
  display: flex;
  align-items: center;
  position: absolute;
  top: 45px;
  right: 45px;
  z-index: 500;
}

.hamb__field {
  padding: 10px 20px;
  cursor: pointer;
}
.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background: var(--basic);
  transition: 0.2s;
}
.menu__item {
  margin-right: 0;
}
.menu__link {
  display: block;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 200;
  transition: 0.3s;
}
.popup.open {
  left: 0;
  top: 190;
}
.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  overflow: auto;
  visibility: visible;

  margin: -75px auto;
}
.popup .menu > li {
  width: 100%;
}
.popup .menu > li > a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.popup .menu > li > a:hover {
  background: rgba(122, 82, 179, 0.1);
}
.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(3) {
  top: 0;
  transform: translateY(-13px) rotate(-45deg);
}
body.noscroll {
  overflow: hidden;
}
/* the end burger */
