.footer {
  background: #fcfefd;
}
.container {
}
.footer__inner {
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  gap: 100px;
  padding: 65px 0 120px 0;
}
.footer-logo {
}
.logo-footer {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  .logo-footer-img {
  }
}

.logos-footer__slogan {
  max-width: 345px;
}
.footer-blog {
  margin-top: 20px;
}
.footer__head {
  @extend %title-second;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 40px;
}
.footer-blog__list {
}
.footer-blog__item {
  margin-bottom: 25px;
  line-height: 23px;
}
.contact {
  margin-top: 20px;
}
.footer-social-email {
  display: inline-block;
  white-space: nowrap;
  line-height: 23px;
  margin-bottom: 25px;
}
.footer-social-icons {
  display: flex;
  gap: 40px;
}

.social-icon__img {
  padding: 5px;
}
