<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer-logo">
        <div class="logo-footer">
          <a href="#!"
            ><img
              src="./assets/images/logo.png"
              alt="logo"
              class="logo-footer-img"
          /></a>
        </div>
        <p class="logos-footer__slogan">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer...
        </p>
      </div>

      <div class="navigation footer-blog">
        <div class="footer__head">
          <h5>Navigation</h5>
        </div>
        <ul class="footer-blog__list">
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">About Us</a>
          </li>
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">Service</a>
          </li>
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">Menu</a>
          </li>
        </ul>
      </div>

      <div class="resources footer-blog">
        <div class="footer__head">
          <h5>Products</h5>
        </div>
        <ul class="footer-blog__list">
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">Reviews</a>
          </li>
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">Blog</a>
          </li>
          <li class="footer-blog__item">
            <a href="#!" class="footer-blog__link">Update News</a>
          </li>
        </ul>
      </div>

      <div class="contact footer__blog" id="contact">
        <div class="footer__head">
          <h5>Contact Us</h5>
        </div>
        <div class="footer-social-inner">
          <a class="footer-social-email" href="mailto:oyasim@email.com"
            >Email: oyasim@email.com</a
          >
          <div class="footer-social-icons">
            <div class="footer-social-icon">
              <a href="#!"
                ><img
                  src="./assets/images/facebook.svg"
                  alt="facebook"
                  class="social-icon__img"
              /></a>
            </div>

            <div class="footer-social-icon">
              <a href="#!"
                ><img
                  src="./assets/images/twitter.svg"
                  alt="twitter"
                  class="social-icon__img"
              /></a>
            </div>

            <div class="footer-social-icon">
              <a href="#!"
                ><img
                  src="./assets/images/instagram.svg"
                  alt="instagram"
                  class="social-icon__img"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
